@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

i em{
	font-style: normal;
}

[epub|type~="z3998:letter"] header p + p{
	text-indent: 0;
}

#chapter-18 [epub|type~="z3998:letter"] p:first-child + p{
	/* this is a really hard-to-target element so we just use an ID selector */
	text-indent: 0;
}

#chapter-26 [epub|type~="z3998:letter"]{
	/* special case for chapter whose contents are all letters */
	margin-left: 0;
	margin-right: 0;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] > header + p{
	text-indent: 0;
}

[epub|type~="z3998:letter"] header{
	text-indent: 0;
}

[epub|type~="se:letter.dateline"]{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="se:letter.dateline"] > .location{
	font-variant: small-caps;
}

[epub|type~="se:letter.dateline"] > time{
	font-style: italic;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
}

[epub|type~="z3998:valediction"]{
	text-align: right;
}

[epub|type~="z3998:sender"]{
	font-variant: small-caps;
	text-align: right;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:postscript"] + [epub|type~="z3998:sender"]{
	margin-top: 1em;
}

footer{
	margin-top: 1em;
	text-align: right;
}

#chapter-4 [epub|type~="z3998:letter"] p:first-child + p{
	text-indent: 0; /* special case because the salutation in this letter is in a <span> */
}
